/* Start Variables */
:root{
    --main-color: rgba(235, 235, 235, 0.6);
    --secondery-color: #ff7f23;
    --third-color:#333;
    --fourth-color: #6c757d;
}
/* End Variables */
/* Special Heading */
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;

}
.special-heading + p{
    margin-top: -30px;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
/* End Special Heading */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    
    font-family: 'Kablammo', cursive;
    font-family: 'Work Sans', sans-serif;
    background-color: #797979;
    
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin: auto;
    width: 600px;
}

/*very small screens*/
@media (max-width: 767px){
    .container{
        .special-heading{
            font-size: 60px;
        }
        .special-heading + p{
            margin-top: -20px;
        }
        
        .landing{
            flex-direction: column;
            text-align: center;
        }
    }
    .navlist{
        display: none;
    }
    
    
}
/*small screens*/
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/*Medium screens*/
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/*Large screens*/
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Rules */


html{
    scroll-behavior: smooth;
}
/* navigation bar */

nav {
    background-color:  var(--secondery-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-right: 10px;
    font-weight: bold;
    
}
nav ul li:not(:last-child) {
    border-right: solid 3px white;
    padding-right: 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
nav ul li a:hover {
    color: var(--main-color); /* Change color on hover */
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.github-icon {
    font-size: 20px;
    color: white;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: auto;
}

.landing{
    width: 100%;
    
    background-color: none;
    display: flex;
    flex-direction: row;
    
}

.landing h1{
    color: var(--secondery-color);
    font-size: 50px;
    font-weight: 900;
    padding: 30px;
}
.landing p{
    font-size: 20px;
}
.landing .logoimage img{
    width: 400px;
    position: relative;
    animation: topdown 2s ease-in-out infinite;
}

.landing .landingtext .buttons{
    margin: 30px;
    top: 150px;
}
@keyframes topdown {
    0%, 100% {
        top: 0; /* Starting and ending position (top) */
    }
    50% {
        top: 5px; /* Middle position (top) */
    }
}


.explore{
    height: auto;
    text-align: center;
    display: block;
    padding: 10px;
    transition: 0.3s;
    width: min-content;
    margin: 30px auto ;
    overflow: visible;
}
.explore a{
    color: var(--secondery-color);
    font-weight: 900;
    font-size: 50px;
    transform: 0.3s;
    text-decoration: none;
    transition: 0.3s;
    border: #ff7f23 solid 2px;
    padding: 3px;
}
.exploreimg{
    display: inline-block;
    float: ;
}
.explore img{
    position: relative;
    width: 146px;
    /* bottom: -39px;
    right: 278px; */
    
}
.landing .logoimage{
    position: relative;
}

.explore a:hover {
    background-color: var(--secondery-color);
    border-radius: 20px;
    color: #ebeced;
    cursor: pointer;
}



/* to do demo */
.tododemo{
    height: 100vh;
    background-color: var(--secondery-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px -4px 20px 9px;

}

.snippests{
    height: 100vh;
    background-color: var(--fourth-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 20px 9px
}